<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIE MAGIC -
    </title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body class="detailBody">
    <header>
        <%- include('./partials/nav') -%>
    </header>
    <main class="detailPageMain">
        <img class="movieBanner" src="https://image.tmdb.org/t/p/original/<%= movie.poster_path %>"
            alt="<% movie.title %> poster">
        <section>
            <img class="starImg" src="../img/star1.png" alt="star">
            <p>
                <span>
                    <%= movie.vote_average %>
                </span> / 10
            </p>
            <p class="grayText">
                <%= movie.vote_count %>
            </p>
        </section>
        <section>
            <h1>
                <%= movie.title %>
            </h1>
            <p>
                <%= movie.release_date %> Released
            </p>
            <div>
                <% movie.genres.map((genre)=> { %>
                    <p class="genreP">
                        <%= genre.name %>
                    </p>
                    <% }) %>
            </div>
            <h2>Plot Summary</h2>
            <p>
                <%= movie.overview %>
            </p>
        </section>
    </main>
</body>

</html>